#navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
  margin: 0px;

  }

#content{
  padding-left: 250px;
  line-height: 2;
}

header{
  font-size: 20px;
  font-weight: bold;
}

li a{
  display: block;
  width: 60px;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  line-height: 1.5;
}

li a.hover{
  background-color: #555;
  color: white;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

@media only screen and (max-width: 400px){
  ul{
    width: 150px;
  }


}

main{
  width: auto;

}
